<div class="container">
  <div class="row">
    <div class="span12 ">
      <dl class="textleft">
        <dt>
          <span class="label label-info name_field string_type">
            姓名
          </span>
        </dt>
        <dd class="well">
          <%= current_user.name%>
        </dd>
        <dt>
          <span class="label label-info name_field string_type">
            性別
          </span>
        </dt>
        <dd class="well">
          <%= current_user.gender%>
        </dd>
        <dt>
          <span class="enum_type label label-info role_field">
            權限
          </span>
        </dt>
        <dd class="well">
          <%= current_user.role%>
        </dd>
        <dt>
          <span class="email_field label label-info text_type">
            Email
          </span>
        </dt>
        <dd class="well">
          <%= current_user.email%>
        </dd>
        <dt>
          <span class="age_field integer_type label label-info">
            年齡
          </span>
        </dt>
        <dd class="well">
          <%= current_user.age%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            生日
          </span>
        </dt>
        <dd class="well">
          <%= current_user.birthday%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            職業
          </span>
        </dt>
        <dd class="well">
          <%= current_user.work%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            介紹人
          </span>
        </dt>
        <dd class="well">
          <%= current_user.upline%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            電話
          </span>
        </dt>
        <dd class="well">
          <%= current_user.tel%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            住址
          </span>
        </dt>
        <dd class="well">
          <%= current_user.address%>
        </dd>
        <dt>
          <span class="birthday_field label label-info text_type">
            Skype
          </span>
        </dt>
        <dd class="well">
          <%= current_user.skype%>
        </dd>
      </dl>
    </div>
  </div>
</div>
