<%= form_for(@pfcate) do |f| %>
  <% if @pfcate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pfcate.errors.count, "error") %> prohibited this pfcate from being saved:</h2>

      <ul>
      <% @pfcate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
