<h1>Listing proofs</h1>

<table>
  <thead>
    <tr>
      <th>Videoid</th>
      <th>Name</th>
      <th>Age</th>
      <th>Desc</th>
      <th>Cate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @proofs.each do |proof| %>
      <tr>
        <td><%= proof.videoid %></td>
        <td><%= proof.name %></td>
        <td><%= proof.age %></td>
        <td><%= proof.desc %></td>
        <td><%= proof.cate %></td>
        <td><%= link_to 'Show', proof %></td>
        <td><%= link_to 'Edit', edit_proof_path(proof) %></td>
        <td><%= link_to 'Destroy', proof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proof', new_proof_path %>
